 <main class="holder contacto">
<div>
    <h2>Contacto Rapido</h2>
    <form action="/contacto" method="post" class="formulario">
        <p>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre">
        </p>
        <p>
            <label for="email">Email</label>
            <input type="text" name="email">
        </p>
        <p>
            <label for="telefono">Telefono</label>
            <input type="text" name="tel">
        </p>
        <p>
            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" id="" cols="30" rows="10"></textarea>
        </p>
        <p class="acciones"><input type="submit" value="Enviar"></p>
    </form>
    <p>{{message}}</p>

</div>

<div class="datos">
    <h2>Otras vías de comunicación</h2>
    <p>También puyede contactarse con nosotros usando los siguientes medios</p>
    <ul>
        <li>Teléfono: +54 11 4850 3400</li>
        <li>Email: info@rigvalores.com</li>
    </ul>

    <div class="redes">
        <a href="https://www.facebook.com/rigvalores" target="_blank"><img src="images/contacto/fb.png"
                alt="facebook"></a>
        <a href="https://twitter.com/RigValores" target="_blank"><img src="images/contacto/twi.png" alt="twitter"></a>
        <a href="https://www.youtube.com/channel/UCYMJ32qK4aEFPpsV6qCjrMQ" target="_blank"><img
                src="images/contacto/you.png" alt="youtube"></a>
        <a href="https://open.spotify.com/show/2U4CDfOGjCoT3iVW3ZsQwO?si=ed6dde0a02814960" target="_blank"><img
                src="images/contacto/spo.png" alt="spotify"></a>


    </div>



</div>

</main>