 <div class="galeria">
            <img src="images/galeria/ch/img01_rig.jpeg" alt="">
            <img src="images/galeria/ch/img02_rig.jpeg" alt="">
            <img src="images/galeria/ch/img03_rig.jpeg" alt="">
            <img src="images/galeria/ch/img04_rig.jpeg" alt="">
            <img src="images/galeria/ch/img05_rig.jpeg" alt="">
            <img src="images/galeria/ch/img06_rig.jpeg" alt="">
            <img src="images/galeria/ch/img07_rig.jpeg" alt="">
            <img src="images/galeria/ch/img08_rig.jpeg" alt="">

        </div>
