 <div>
            <img src="images/home/oficina mesa.png" alt="mesa">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quia, reprehenderit? Exercitatione error saepe aliquid odio placeat quis
                    consectetur iusto assumenda tempore, cupiditate iste!. Lorem ipsum dolor sit,
                    amet consectetur adipisicing elit. Tempora ipsum ipsa, commodi asperiores hic
                    nesciunt dolores explicabo, pariatur tempore </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque provident ut omnis odit, consequatur
                    doloribus, sit, laboriosam porro enim corrupti iste quae unde facere alias non voluptates rerum
                    consequuntur. Amet! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus quas harum
                    temporibus, in perspiciatis animi dolorem quisquam tempore. Dolorum illo aliquam mollitia odio cum
                    minus! Eveniet quisquam perspiciatis sint rem?</p>
            </div>

            <div class="sitios">
                <h2>Sitios de Interés</h2>
                <div class="homelinks">
                    <a class="link"
                        href="https://contenidos.sba.com.ar/CAJVAL/vistas/Comunicados/ListadoComunicadosInstitucional.aspx?c=2"
                        target="_blank"><img src="images/home/logo_caja_de_valores.png" alt="caja de valores"></a>
                    <a class="link" href="https://www.argentina.gob.ar/cnv" target="_blank"><img
                            src="images/home/logo_cnv.png" alt="CNV"></a>
                    <a class="link" href="https://www.argentina.gob.ar/economia" target="_blank"><img
                            src="images/home/logo_min economia.png" alt="ministerio de economia"></a>




                </div>
            </div>
        </div>
