 <div class="historia">
            <h2>Historia</h2>
            <p>Somos tercera generaci칩n de Agentes de Bolsa, que operamos como Agente Miembro de BYMA, Agente ROFEX y
                Agente MAV, brindando un servicio burs치til bajo el concepto de una moderna "Banca Privada" de
                importantes ventajas comparativas. RIG Valores S. A. le ofrece un seguimiento personalizado de sus
                inversiones, con la experiencia y trayectoria de nuestro Equipo Profesional, con la finalidad de adecuar
                las pautas generales de inversi칩n a su situaci칩n financiera personal.</p>
                <img src="images/nosotros/timeline.jpg" alt="">

        </div>

        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aspernatur
                        deleniti, perferendis mollitia voluptas est accusantium veritatis quidem, autem
                        architecto commodi cumque, suscipit nobis molestias! Voluptatibus esse quibusdam
                        sunt architecto.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aspernatur
                        deleniti, perferendis mollitia voluptas est accusantium veritatis quidem, autem
                        architecto commodi cumque, suscipit nobis molestias! Voluptatibus esse quibusdam
                        sunt architecto.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aspernatur
                        deleniti, perferendis mollitia voluptas est accusantium veritatis quidem, autem
                        architecto commodi cumque, suscipit nobis molestias! Voluptatibus esse quibusdam
                        sunt architecto.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aspernatur
                        deleniti, perferendis mollitia voluptas est accusantium veritatis quidem, autem
                        architecto commodi cumque, suscipit nobis molestias! Voluptatibus esse quibusdam
                        sunt architecto.</p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aspernatur
                        deleniti, perferendis mollitia voluptas est accusantium veritatis quidem, autem
                        architecto commodi cumque, suscipit nobis molestias! Voluptatibus esse quibusdam
                        sunt architecto.</p>
                </div>

            </div>
        </div>