 <h1>Novedades</h1>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nam voluptate nemo provident odio
                officia soluta quae eius officiis, quaerat consequuntur non harum. Dolore quis fugit aut! Fugit, id
                consequatur!</p>
            <hr>

        </div>

        <div class="novedades">
            <h3>TITULO</h3>
            <h4>subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nam voluptate nemo provident odio
                officia soluta quae eius officiis, quaerat consequuntur non harum. Dolore quis fugit aut! Fugit, id
                consequatur!</p>
            <hr>

        </div>

        <div class="novedades">
            <h3>TITULO</h3>
            <h4>subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nam voluptate nemo provident odio
                officia soluta quae eius officiis, quaerat consequuntur non harum. Dolore quis fugit aut! Fugit, id
                consequatur!</p>
            <hr>

        </div>