 <h2>Servicios</h2>

        <div class="servicio">
            <img src="images/servicios/opera online.png" alt="online">
            <div class=" info">
                <h4>Operatoria Online</h4>
                <p>Ingresando desde su PC, nuestros Clientes pueden:

                    • Consultar los saldos y movimientos de su Cuenta.

                    • Visualizar en tiempo real las cotizaciones y las ofertas de los mercados habilitados.

                    • Ingresar órdenes de compra/venta de valores negociables en dichos mercados.

                    • Automatizar órdenes.

                    RIG Valores S.A. le brinda a sus Clientes una amplia variedad de instrumentos financieros tales como
                    Acciones, Bonos, Letras, Obligaciones Negociables, Opciones, índices, Cauciones Bursátiles,
                    Préstamos de Valores, Cheques de Pago Diferido (CPD), Operaciones de Futuros, entre otros.</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/fci.png" alt="fci">
            <div class=" info">
                <h4>Fondos de Inversión</h4>
                <p>RIG Valores S.A. le acerca la posibilidad de invertir en una amplia y globalizada gama de Fondos
                    Comunes de Inversión, con un importante valor agregado. A través de una única cuenta en RIG, Usted
                    podrá acceder a cualquiera de los Fondos de las principales instituciones financieras. Así, Usted
                    obtiene la oportunidad de elegir sólo por aquellos Fondos que le brinden los mejores rendimientos
                    del mercado, sin la necesidad de mayores trámites.</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/custodia.png" alt="custodia">
            <div class=" info">
                <h4>Custodia</h4>
                <p>Este servicio incluye desde la simple custodia de sus títulos valores hasta la liquidación de
                    dividendos, rentas y amortizaciones, centralizadas en Entidades de primer nivel. Así ponemos a su
                    disposición un circuito cómodo, dinámico y garantizado por Bancos de primera línea y la Caja de
                    Valores S. A. (la principal central depositaria privada de títulos valores de la República Argentina
                    por historia y excelencia).</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/oficinas.png" alt="oficinas">
            <div class=" info">
                <h4>Oficinas</h4>
                <p>Nuestros Clientes cuentan con cómodas instalaciones para coordinar desde una reunión con nuestros
                    Analistas, hasta la firma de una escritura.</p>
            </div>
        </div>